<a href="https://colab.research.google.com/github/salonee/MSinDS_Aug2024-2025/blob/main/5_Advanced_Looping_Concept.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Advanced Looping Concept : Shortcuts to solve the simple questions
# Map
# Filter
# Lambda
# Ternary Operator
# List Comprehension , Set Comprehension & Dictionary Comprehension

In [ ]:
# Map Function
# map()
# The map() function in Python applies a given function to each item of an iterable (e.g. a list)
# and returns a new iterable with the results. The syntax of the map() function is as follows:

'''map(function, iterable)'''

In [ ]:
# Iterable : List, string, tuple, set, dictionary

In [ ]:
# # Practice 1
#Add one to each element
# add_1 is the function and with map, you don't put the brackets

_list = [2,3,4,5,6]
# [3,4,5,6,7]

def add_1(n):
  return n+1

list(map(add_1,_list))
# Iteration :
# I1
# i = 2
# add_1(2) --> 3

# I2
# i = 3
# add_1(3) --> 4

# I3
# i = 4
# add_1(4) --> 5

# I4
# i = 5
# add_1(5) --> 6

# I5
# i = 6
# add_1(6) --> 7

# Map --> [3,4,5,6,7]

[3, 4, 5, 6, 7]

In [ ]:
tuple(map(add_1,_list))

(3, 4, 5, 6, 7)

[35, 57, 79]

In [ ]:
# # Practice 2
# Output as square of each element in a list
# map will work only if you want to apply some logic to each and every element.

def square(n):
  return n**2

_list = [4,2,5,6,8]
list(map(square, _list))


# map will iterate over each and every item in the iterable and put it in the function

[16, 4, 25, 36, 64]

In [ ]:
# word , Each Character Vowel or Consonant

def _vowel_cons_check(s):
  if s.lower() in 'aeiou':
    return f'{s}:Vowel'
  else:
    return f'{s}:Consonant'

In [ ]:
list(map(_vowel_cons_check,'AlmaBetter'))

['A:Vowel',
 'l:Consonant',
 'm:Consonant',
 'a:Vowel',
 'B:Consonant',
 'e:Vowel',
 't:Consonant',
 't:Consonant',
 'e:Vowel',
 'r:Consonant']

In [ ]:
list(map(_vowel_cons_check,'AlmaBetter')) # Address of where the values are stored

['A:Vowel',
 'l:Consonant',
 'm:Consonant',
 'a:Vowel',
 'B:Consonant',
 'e:Vowel',
 't:Consonant',
 't:Consonant',
 'e:Vowel',
 'r:Consonant']

In [ ]:
tuple(map(_vowel_cons_check,'AlmaBetter'))

('A:Vowel',
 'l:Consonant',
 'm:Consonant',
 'a:Vowel',
 'B:Consonant',
 'e:Vowel',
 't:Consonant',
 't:Consonant',
 'e:Vowel',
 'r:Consonant')

In [ ]:
set(map(_vowel_cons_check,'AlmaBetter'))

{'A:Vowel',
 'B:Consonant',
 'a:Vowel',
 'e:Vowel',
 'l:Consonant',
 'm:Consonant',
 'r:Consonant',
 't:Consonant'}

In [ ]:
# Iterable : list, string, tuple, dict, set

In [ ]:
# # Practice 3
# Practice: get the Gender of the person

def gender(name):
  sal = name.split('.')[0]
  if sal == 'Mr':
    return {name:'Male'}
  else:
    return {name: 'Female'}


# gender(name = 'Mr.John')
_ex = ['Mr.John', 'Ms.Siya','Mrs.Tara','Mr.Tonny']
list(map(gender,_ex)) # map function is mapping each value from _ex varibale to function gender

[{'Mr.John': 'Male'},
 {'Ms.Siya': 'Female'},
 {'Mrs.Tara': 'Female'},
 {'Mr.Tonny': 'Male'}]

In [ ]:
# Practice 4
# Output as type of all elements
ex = [[2,3],(4),(5,),'Data',6.7,{5,6},{7:8,9:10}, True]
# output : [list, int,tup, str,float,set,dict,bool]
list(map(type,ex))

[list, int, tuple, str, float, set, dict, bool]

In [ ]:
# Practice 5
# Storing comma separated input as list of items.
n = input('Enter the numbers:')
# 3,4,5,6,7
n = n.split(',') # ['3', '4', '5', '6', '7']
# print(n)
list(map(eval, n)) # '3' --> eval('3') -->3, eval('4') --> 4...

Enter the numbers:3,4,5,6.7,True

[3, 4, 5, 6.7, True]

In [ ]:
type(eval('True')) #

bool

In [ ]:
_dict = {1:2, 3:4} # [(1,2),(3,4)]
# Multiply key & value

def _multiply(n):
  return n[0]*n[1]

list(map(_multiply,_dict.items())) # iterable

# print(_dict.items())

[2, 12]

In [ ]:
# Limitations :
# 1. Functions can be an aggregation

In [ ]:
_list = [4,5,6,7,8,10] # 6 elements # Sum of even numbers # Aggregation | Map
# Output : 6 elements

In [ ]:
# Filter function
# filter()
# filter() is a built-in function that allows you to filter elements of an iterable
#  (such as a list, tuple, or string) based on a certain condition.
#  The filter() function returns an iterator containing only the elements for which the condition is True
'''filter(function, iterable)'''

# Note: Function must give the output as True or False

In [ ]:
# Practice 1
# keep the employees > 5000

#
def salary_filter(n):
  if n > 5000:
    return True
  else:
    return False

ex = [8000,9000,7500,1000,2000,3000]
list(filter(salary_filter,ex)) # Output is coming as False those values are filtered out

[8000, 9000, 7500]

In [ ]:
# Filter : Input : 6 elements != output will be filtered based on some logic
# : Logic is driven by function
# Filter will give the output where you iterator function is giving output as True
# Filter : Function : True Or False|Boolean

In [ ]:
# Practice 2
# keep words having > 5 len

# ['Science', 'AlmaBetter', 'Engineering', 'Machine']
# Filter will only keep elements where function is giving True as an output

def len_word(n):
  return len(n) > 5 # True & False


word = ['Data', 'Science', 'AlmaBetter', 'Engineering', 'Hi', 'Machine']
list(filter(len_word,word))
# Filter doesn't keep the data which are getting False as an output from Function

['Science', 'AlmaBetter', 'Engineering', 'Machine']

In [ ]:
# Practice 3
# Filter numbers which are perfect squares
# Perfect square are number where
# Square root is integer then it's a perfect number.

# [4 , 16 , 9 , 64]

# Hint : int(n ** (1/2)) == n ** (1/2) then perfect Square
# filter will keep the value in the output if function gives True

def perfect_square(n):
  if int(n ** (1/2)) == n ** (1/2):
    return True
  else:
    return False

ex = [2, 4, 16 , 9 , 27, 64]
list(filter(perfect_square, ex))

[4, 16, 9, 64]

In [ ]:
# print from (1000, 2000)  --> all perfect squares
def perfect_square(n):
  if int(n ** (1/2)) == n ** (1/2):
    return True
  else:
    return False

a = 1000
b = 2000
ex = list(range(a,b+1))
list(filter(perfect_square, ex))

[1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936]

In [ ]:
# List of prime number from a to b
def isprime(n):
  prime = True
  for i in range(2,n):
    if n%i == 0:
      prime = False
      break
  return prime

a = 1000
b = 2000
ex = range(a,b+1)
list(filter(isprime,ex ))

In [ ]:
# map & filter
# map(function,iterable) : map give you the output of function
# filter(function , iterable)# function must output in boolean (True/ False),
# it gives you the output which are coming as True

In [ ]:
def len_word(n):
  return len(n) > 5 # True & False


word = ['Data', 'Science', 'AlmaBetter', 'Engineering', 'Hi', 'Machine']
list(filter(len_word,word))

['Science', 'AlmaBetter', 'Engineering', 'Machine']

In [ ]:
def len_word(n):
  return len(n) > 5 # True & False


word = ['Data', 'Science', 'AlmaBetter', 'Engineering', 'Hi', 'Machine']
list(map(len_word,word))

[False, True, True, True, False, True]

In [ ]:
# lambda() Function
# lambda

# A lambda function is a small, anonymous function in Python that can take any number of arguments,
# but can only have one expression.
# Lambda functions are often used as a shortcut for creating simple, one-liner functions.

def add_1(a):
  return a+1

add_1(a =5)

6

In [ ]:
add_1_n = lambda a: a+1

In [ ]:
add_1_n(2)

3

In [ ]:
# A lambda function that adds two numbers

_add = lambda a,b : a+b

_add(2,3)

# Non default/ default
_add = lambda a,b=0 : a+b
_add(2,4)
# Non Default will come first then default arguments
# _add = lambda a= 0,b : a+b
# _add(2,4)

6

In [ ]:
_add = lambda a,b : a+b # 1 liner

_add(a = [2,3,4,5],b = ['a','b','c']) # Concatenation of the list

[2, 3, 4, 5, 'a', 'b', 'c']

In [ ]:
# Practice 1
# a ^ 2 + b ^ 2
# lambda a,b :
_square = lambda a,b : a**2 + b**2
_square(2,3) # 4 + 9 = 14

13

In [ ]:
# reduce : Aggregation : Using package you can do it. Better to use for / while directly

In [ ]:
_ex = [(2,3), (4,5), (8,10)]

list(map(lambda a : a[0]**2 + a[1]**2   ,_ex )) # (2,3)

[13, 41, 164]

In [ ]:
def square(a):
  return a[0] **2 + a[1] **2

list(map(square,_ex ))

[13, 41, 164]

In [ ]:
# Lambda & Filter

# len(word) > 5| keep it

word = ['Data', 'Science', 'AlmaBetter', 'Engineering', 'Hi', 'Machine']
list(filter(lambda s: len(s)> 5, word)) # Filter function

['Science', 'AlmaBetter', 'Engineering', 'Machine']

In [ ]:
# Map & filter : Used to to do iterations on the iterables (String, list, tuple, Dict, Set)
# Function : Custom, In built, Lambda
# lambda arguments : output
# lambda a,b : a+b

In [ ]:
_list = [2,4,5,6,7,8,9,11,12] # [4,16,36,64,144]

list(map(lambda n: n**2, filter(lambda n: True if n %2 ==0 else False, _list)))

[4, 16, 36, 64, 144]

In [ ]:
# Ternary Operator

# Normal if else
# if condition:
#   if_result
# else:
#   else_result

# One liner if else in python
# if_result if condition else else_result

In [ ]:
# Practice 1
# write a code where if num is even output True else False # lambda & ternary Operator

10

True

In [ ]:
# Practice 2
# write a code where if character is vowel or consonant

'Vowel'

In [ ]:
# word as input : remove all vowels from the name
# Word = 'AlmaBetter' --> 'lmBttr'
#join -> characters in list --> concat to get final string

'lmBttr'

#### Alternative to map and Filter

In [ ]:
# List Comprehension
# List comprehensions are a concise and powerful way to create lists in Python.
# They allow you to create a new list by iterating over an existing iterable object, such as a list, tuple, or string,
# and applying a condition or expression to each element.

# [output for item in iterable if condition]

In [ ]:
# Practice 1
# Celsius to Fahrenheit : (x * 9/5) + 32
# list comprehension
celsius_temps = [0, 10, 20, 30, 40]
# List comprehension : method 1 : List Comprehension

[32, 50, 68, 86, 104]

[32, 50, 68, 86, 104]

In [ ]:
# mehtod 3 : Using Map

[32, 50, 68, 86, 104]

In [ ]:
# method 4 : Using lambda

[32, 50, 68, 86, 104]

In [ ]:
# Practice 2
grades = [75, 45, 90, 30, 80, 55]
# Filter grades greater than or equal to 60 using list comprehension
# [output for item in iterable if condition]
[i for i in grades if i >=60] # method 1 using list comprehension

[75, 90, 80]

In [ ]:
# Method 2 :Using For loop & if- else

In [ ]:
# Method 3 : Filter

[75, 90, 80]

In [ ]:
# Method 4 : lambda with filter

[75, 90, 80]

In [ ]:
# Practice 3
files = ['document.txt','image.png','movies.mp4', 'songs.mp3','file_txt.ipynb']
# output all files other than .txt
# ['image.png','movies.mp4', 'songs.mp3', 'file_txt.ipynb']
# list comprehension

# hint : .split() --> method
# '.'.join(), _var.split('.')
#

['image.png', 'movies.mp4', 'songs.mp3', 'file_txt.ipynb']

In [ ]:
# Practice 4
grades = [40,50, 60, 30, 80, 90, 70,95]
# if  >=60 Pass, else Fail , output as list
# ['fail','fail', 'pass'...]
# if and else both

['Fail', 'Fail', 'Pass', 'Fail', 'Pass', 'Pass', 'Pass', 'Pass']

In [ ]:
# What changed in the above case?
# if Condition : After for loop
# [ final_output for i in iterable if condition]

# If and else : before for loop
# [final_if_output if condition else else_output for i in iterable ]

In [ ]:
# word = 'AlmaBetter'
# # Question 1  : ['A','a', 'e', 'e'] # Vowels
# # Question 2 : ['a', 'L', 'M', 'a', 'B', 'e', 'T', 'T', 'e', 'R' ]
# # Vowels are in small and Consonants are in Capital

In [ ]:
# Question 1 :
word = 'AlmaBetter'
# output = ['A','a', 'e', 'e']

['A', 'a', 'e', 'e']

In [ ]:
# Question 2:
word = 'AlmaBetter'
# ['a', 'L', 'M', 'a', 'B', 'e', 'T', 'T', 'e', 'R' ]
# # Vowels are in small and Consonants are in Capital

['a', 'L', 'M', 'a', 'B', 'e', 'T', 'T', 'e', 'R']

In [ ]:
# Map & filter
# list comprehension with only if condition : filter
# [ i for i in iterable if i condition] -- Filter
# list comprehension without if-else condition : map
# [ i for i in iterable] -- Map
# list comprehension with if-else condition : map
# [i if condition else i for i in iterable] : map

In [ ]:
# List comprehension
# If condition : then it comes after for loop # filter
# If and else both condition : then it comes before for loop # Map

In [ ]:
# List Comprehension : Output will be as list - [ Expression  ]
# Set Comprehension : Output will be set - { Expression } | Unique Values

In [ ]:
# Set Comprehension
grades = [40,50, 60, 30, 80, 90, 70,95]
# if  >=60 Pass, else Fail
# {i for i in grades if i >=60}
{'pass' if i>=60 else 'fail' for i in grades}

{'fail', 'pass'}

In [ ]:
# If condition : then it comes after for loop # filter
# If and else both condition : then it comes before for loop # Map

In [ ]:
# Dictionary Comprehension : key and value pair

ex = ['Data', 'Science', 'Almabetter', 'Python']
# {'Data':4,'Science':7 ,...}

{ i:len(i) for i in ex }

{'Data': 4, 'Science': 7, 'Almabetter': 10, 'Python': 6}

In [ ]:
_var = ['A', '@', '$', '&', '*', 'üòá', 'üòÅ']
# { 65 : 'A', 64: '@'...  }
{ i  for i in _var  } # Set
{ ord(i):i for i in _var} # Dictionary Comprehension

{65: 'A', 64: '@', 36: '$', 38: '&', 42: '*', 128519: 'üòá', 128513: 'üòÅ'}

#### Practice

In [ ]:
# Practice 1
'''
Question 1: Square Even Numbers
Write a Python function that takes an list as an input and returns the squares of only the even numbers.
Use the filter() function to filter even numbers, and the map() function to apply squaring.
'''

_list = [2,4,5,6,7,8,9]
# Output : [4,16,36,64]


d

[2, 4, 6, 8]
[4, 16, 36, 64]

In [ ]:
# Practice 2
'''
List Comprehension to Create Pairs
Given a list of numbers, write a Python code that uses list comprehension
to generate a new list of tuples, where each tuple contains a odd numbers and its square.
input = [1, 2, 3, 4]  # Output: [(1, 1), (3, 9)]
'''

_list = [1,2,3,4]

[(1, 1), (3, 9)]

In [ ]:
# Practice 4
word = 'Engineering'
# {} : set of Unique Vowels
# Set comprehension

'Eie'

In [ ]:
# Practice 3
'''
Question: Sorting a Dictionary by Values
Given a dictionary where the keys are strings and the values are integers,
write a Python function that sorts the dictionary by its values in ascending order.
Use the sorted() function with a lambda expression.

Example:

python
Copy code
my_dict = {'apple': 3, 'banana': 1, 'cherry': 2}

# Your function here

# Expected Output:
# ['banana', 'cherry', 'apple']
Hint: You can pass a lambda function as the key argument to the sorted() function to sort by dictionary values.
'''

['cherry', 'apple', 'banana']