<a href="https://colab.research.google.com/github/salonee/AlmaBetter/blob/main/Operators_in_Data_types_Alok_%7C_11th_Sept.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Arithmetic Operators

In [ ]:
# +  : Addition
# - : Subtraction
# * : Multiplication
# /: Division
# //: Floor Division (Quotient)
# % : Modulo (Remainder)
# ** : Exponential

In [ ]:
# 27 : Cube root of 27 | 3
27 ** (1/3)

3.0

In [ ]:
# 87 is divided by 5 | Quotient & remainder
print(87 // 5) # Floor Division | Quotient
print(87 % 5) # Modulo Operator | Remainder

17
2

In [ ]:
# Even or Odd
# Even : If number is divided by 2 | Remainder = 0

print(35 % 2) # odd
print(40 % 2) # Even

1
0

In [ ]:
# All arithmetic Operators are applicable to Int, Float & Boolean
# primitives | +, -, *, /, //, %, **

In [ ]:
# Application on other Data Types | Non primitives
# + : Applied on String, List & Tuple | Concatenation | Join
# * : Applied on String, List & Tuple | Repeatation

In [ ]:
_str1  = 'hello'
_str2 = 'world'
_str1 +_str2 # helloworld is glued together | concatenated | join

'helloworld'

In [ ]:
_str1  = 'hello '
_str2 = 'world'
_str1 +_str2

'hello world'

In [ ]:
_str1  = 'hello'
_str2 = 'world'
_str1 +' ' + _str2

'hello world'

In [ ]:
_list1 = [2,3,4]
_list2 = [5,6,7]
_list1 + _list2 # List with all values concatenated

[2, 3, 4, 5, 6, 7]

In [ ]:
# Tuple : Practice it by yourself.

In [ ]:
# Concatenation with + will always happen with
# str + str
# list + list
# tuple + tuple

In [ ]:
# Repeatation
# * :  Multiplication will be done with int
_String = 'hello'
_String * 5 # Repeats the data

'hellohellohellohellohello'

In [ ]:
# @
# @@
# @@@
# @@@@
# @@@@@
# Triangle pattern
# * --> Repeatation

'hello hello hello hello '

'hello hello hello hello '

In [ ]:
# to multiply each element with 4 in a list: For loop

'abcabcabc'

In [ ]:
# + or * --> Applied on string, tuple & list
# + : Concat
# * : Repeatation

('abc', 'abc', 'abc')

#### Comparison Operators

In [ ]:
# ==  : is equal to
# != : Not equal to
# > : Greater than
# < : Smaller than
# >= : Greater than or Equal to
# <=  : Smaller than or Equal to

# Output is boolean | True or False

In [ ]:
# All comparison operators are used with int, float & Boolean
45 > True # Output ? --> Python : True : 1 , False : 0

True

In [ ]:
-1 < False # Output ? --> False - 0 | -1 < 0

True

In [ ]:
'a' > 'A' # Why? Unicode assigned to it. 97 > 65

True

In [ ]:
# We don't use Comparison operator with string, List, tuple, dict, set
# Apart from ==, !=

In [ ]:
# Application on other data types
# == : Applicable on String, List, tuple, Dict & Set
# != : Applicable on String, List, tuple, Dict & Set

True

In [ ]:
[4,5,6] == [6,7] # False

False

In [ ]:
[40,50] > [6,7, 'a'] # Can't Interpret it

True

In [ ]:
_list1 = [4,5,6]
_list2 = [6,7, 'a']
len(_list1) >len(_list2) #False

False

In [ ]:
len(_list1) >= len(_list2) #True
# >= : Greater than or equal to

True

In [ ]:
# 1 > 0 or 1 < 0

False

#### Logical Operators

In [ ]:
# and
# or
# Not
# Output :  Boolean
# Logical operator is applicable on top of comparison operator

True

In [ ]:
# input: Function which takes input from user

In [ ]:
_weather = input('Enter today\'s weather: ')
_health = input('Are you fit or unfit? : ')

Enter today's weather: sunny
Are you fit or unfit? : unfit

In [ ]:
_Weather ='rainy' # Twist is : your are writing it as an input

In [ ]:
print(_weather) #
print(_health)

rainy
fit

In [ ]:
_weather == 'sunny' and _health == 'fit' # False
# I want to play cricket only if _weather is sunny and _health is fit
# 'rainy' =='sunny' --> False
# 'fit' == 'fit' --> True
# False and True
# and --> both condition must be satisfied | True | Stubborn

False

In [ ]:
# And : both conditions must be True
# True and True : True
# False and True : False
# True and False : False
# False and False : False

In [ ]:
_weather = input('Enter today\'s weather: ')
_health = input('Are you fit or unfit? : ')

Enter today's weather: sunny
Are you fit or unfit? : unfit

In [ ]:
_weather == 'sunny' or _health == 'fit'
# Or: Any one of condition is True then output is true
# True or True : True
# True or False : True
# False or True : True
# False or False : False

True

In [ ]:
# and , or --> Super important concept | Filter the data

In [ ]:
# not : Reverse the decision of the output |
# If output is False --> True and Vice Versa
not(_weather == 'sunny') # Reverse it

False

In [ ]:
# not - Highest precedence | Importance
# and - Intermediate precedence | Importance
# or - Lowest precedence | Importance

In [ ]:
not(False) or True and True
# not(False) --> True | True or True and True
# True and True --> True | True or True
# True or True --> True

True

In [ ]:
not(True) or True and True #
# not(True) --> False | False or True and True
# True and True --> True  | False or True
# False or True --> True

True

In [ ]:
# To avoid confusion and ensure the intended order of execution,
# itâ€™s often a good practice to use parentheses:
# result = not (True or False) and (True or False)

In [ ]:
 #order of Execution in and , or and not
 # Not, and , or

 _x = 10
 _y = 9
 _z = 6

In [ ]:
# Run it by yourself to understand the concept.
not(_x > _y) and _y < _z or _x > _z # True

True

In [ ]:
False and True or False
# 1: False and True | False : Expression False  or False

False

In [ ]:
# and : All conditions must be True to get output as True
# True and True : True
# False and True : False
# True and False : False
# False and False : False

# or : Atleast one condition should be True to get output as True
# True or True : True
# False or True : True
# True or False : True
# False or False : False

#### Assignment Operators

In [ ]:
# = : Assignment Operator
# Arithmetic Operator & Assignment Operator Combo
# +=
# -=
# *=
# /=
# %=
# //=
# **=

# What is the role of = ? It assigns the value to any variable
_x = 6 # Assigning the value 6 or storing 6 in the variable _x

In [ ]:
# _x + 7 vs  _x += 7 ? What's the difference?
# Case1 :
_x + 7 # it gives output but not stored anywhere | value of _x will not change
# Case 2 :
_x += 7 # It does the addition to 7 to the current value of _x and stores new value to _x
# _x = _x (current value) + 7

38

In [ ]:
# # -=
# *=
# /=
# %=
# //=
# **=

_y = 6
_y -= 3 # _y = _y - 3
print(_y) # 3
_y *= 4 # _y = _y * 4
print(_y) # 12
_y /= 3 # _y = _y / 3
print(_y) # 4.0
_y %= 2 # _y = _y % 2
print(_y) # 0
# For loop & While loop i = i +1 / i +=1
# Division gives you output as float.

3
12
4.0
0.0

In [ ]:
7//3 # Floor Division : Quotient

2

#### Membership Operators

In [ ]:
# in , not in
# Output : True & False
# if any element is present in the list, string, tuple, dict, set | Non primitive Data Types

In [ ]:
# Example
_list = [5,6,7,8]
print( 6 in _list) # True
print( 9 in _list) # False

True
False

In [ ]:
print( 6 not in _list) # False
print( 9 not in _list) # True

False
True

In [ ]:
# Dictionary | Different
_dict = {4:5, 'a':7, (5,6):9}
print(4 in _dict)#True # By default it checks keys
print( 5 in _dict) # False # By Default it checks keys
# Values or keys separately
# 2 methods : .keys(), .values()  | Dictionary
print(4 in _dict.keys())#True # By default it checks keys
print( 5 in _dict.keys()) # False # By Default it checks keys

True
False
True
False

#### Set Operator

In [ ]:
# & : Intersection
# | : Union
# - : difference

_set_1 = {1,2,3,4}
_set_2 = {4,5,6}
# Intersection : &
print(_set_1 & _set_2 )
# Union : | (Pipe)
print(_set_1 | _set_2)

# Difference : -
print(_set_1 - _set_2) # Elements Only present in _set_1 not in _set_2
print(_set_2 - _set_1 ) # Elements Only present in _set_2 not in _set_1

{4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3}
{5, 6}

In [ ]:
# Dictionary Keys operate same as set
# Same restriction on Data types
# Same Operators
_dict_1 = {1 : 'a',2 : 'b',3:'c',4:'d'}
_dict_2 = {4:'w',5:'u',6:'z'}

In [ ]:
_dict_1.keys() & _dict_2.keys() # Output is similar to set
# _dict_1.keys() : 1,2,3,4
# _dict_2.keys() : 4,5,6
# Intersection of both - {4}
# Keys act similar to set

{4}

In [ ]:
# Dictionary :
# properties of keys
# Keys - Unique, (List, dict & set as the value not accepted)
# Set :
# Unique, (List, dict & set as the value not accepted)
# That's why : .keys & Sets behave similarly
# Set : All Functions or methods applied on set will apply on keys.

#### Identity Operator will be discussed with In built Functions & methods.